<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flashcards</title>
<link rel="stylesheet" href="/static/flashcards.css">
</head>

<body>
	<div class="container">
		<div>
			
			<h1>Card - {{.Card.ID}}</h1>
		</div>

		<div id="intro">
			Card
		</div>
		
		<h3>Question</h3>
		<div>{{.Card.Question}}</div>

		{{if .ShowAnswer}}
		<h3>Answer</h3>
		<div>{{.Card.Answer}}</div>
		{{else}}
			<a href="?answer=show"><button>Show answer</button></a>
		{{end}}

		<hr>
		<div>
			<a href="/random?deck={{.Deck.ID}}">Show a random card</a> | 
			<a href="/deck/{{.Deck.ID}}">Back to the deck</a>
		</div>
	</div>
</body>
</html>