<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flashcards - {{.Deck.Title}} - Card</title>
<link rel="stylesheet" href="/static/flashcards.css">
<link href="/static/flashcards.svg" rel="icon" type="image/svg" />
</head>

<body>
	<div class="container">
		<div>			
			<h1>FlashCard</h1>
		</div>

		<div>
			{{.Deck.Title}}
		</div>

		<h3>Question</h3>
		<div>{{.Question}}</div>

		{{if eq .Show "show"}}
			<div>
				<a href="/random?deck={{.Deck.ID}}"><button class="endbutton">Move on</button></a>
				<a href="?answer=hide"><button class="endbutton">Retry</button></a>
				<div class="clearfloat"></div>
			</div>
			
			<h3>Answer</h3>
			<div>{{.Answer}}</div>
		{{end}}
		
		{{if eq .Show "hint"}}
			<h3>Hint</h3>
			{{if .Hint}}
				<div>{{.Hint}}</div>
			{{else}}
				<div>There is no hint for this question</div>
			{{end}}
			<div>
				<a href="?answer=show"><button class="endbutton">Show answer</button></a>
				<div class="clearfloat"></div>
			</div>
		{{end}}

		{{if eq .Show "hide"}}
			<div>
				<a href="?answer=hint"><button class="leftbutton">Hint</button></a>
				<a href="?answer=show"><button class="endbutton">Show answer</button></a>
				<div class="clearfloat"></div>
			</div>
		{{end}}
		
		<div>
			&nbsp;
			<hr>
		</div>
		
		<div>
			<a href="javascript:window.history.back();">Back</a> |
			<a href="/editcard?deck={{.Deck.ID}}&card={{.Card.ID}}">Edit card</a> | 
			<a href="/deck/{{.Deck.ID}}">Back to the deck</a>
		</div>
		<hr>
		<div  class="id_bar">{{.Card.DeckID}} / {{.Card.ID}}<div>
		
	</div>
</body>
</html>