<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flashcards</title>
<link rel="stylesheet" href="/static/flashcards.css">
</head>

<body>
	<div class="container">
		<div>			
			<h1>FlashCard</h1>
		</div>

		<div>
			{{.Deck.Title}}
		</div>

		<h3>Question</h3>
		<div>{{.Question}}</div>

		{{if .ShowAnswer}}
		<h3>Answer</h3>
		<div>{{.Answer}}</div>
		{{else}}
			<div>
				<a href="?answer=show"><button class="endbutton">Show answer</button></a>
			</div>
		{{end}}
		
		<div>&nbsp;</div>
		<hr>
		<div>
			<a href="/random?deck={{.Deck.ID}}">Show a random card</a> | 
			<a href="/deck/{{.Deck.ID}}">Back to the deck</a>
		</div>
		<hr>
		<div  class="id_bar">{{.Card.DeckID}} / {{.Card.ID}}<div>
		
	</div>
</body>
</html>