<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flashcards - {{.Deck.Title}}</title>
<link rel="stylesheet" href="/static/flashcards.css">
<link href="/static/flashcards.svg" rel="icon" type="image/svg" />
</head>

<body>
	<div class="container">
		<div>
			
			<h1>Flash Card Deck</h1>
		</div>

		<div id="intro">
			{{.Deck.Title}}
		</div>

		{{if .Share}}
			Access this page at <a href="{{.Share}}">{{.Share}}</a>
			<br>
			<img src="/qrcode?deck={{.Deck.ID}}" height="160" width="160">
		{{end}}

		<h3>Flashcards</h3>
		<ul>
		{{range $card := .Deck.Cards}} 
			<li>
				<a href="/deck/{{$card.DeckID}}/card/{{$card.ID}}?answer=hide">{{$card.Question}}</a>
			</li>
		{{end}}
		</ul>

		<div>&nbsp;</div>
		<hr>
		<div>
			<a href="/">Home</a> |
			<a href="/deck/{{.Deck.ID}}?share=true">Share</a> |
			<a href="/random?deck={{.Deck.ID}}">Show a random card</a> |
			<a href="/newcard?deck={{.Deck.ID}}">Add a new flashcard</a>
		</div>
		<hr>
		<div class="id_bar">{{.Deck.ID}}</div>
	</div>
</body>
</html>