<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flashcards</title>
<link rel="stylesheet" href="/static/flashcards.css">
</head>

<body>
	<div class="container">
		<div>
			
			<h1>Deck - {{.Deck.ID}}</h1>
		</div>

		<div id="intro">
			Title: {{.Deck.Title}}
		</div>

		<ul>
		{{range $card := .Deck.Cards}} 
			<li>
				<a href="/deck/{{$card.DeckID}}/card/{{$card.ID}}?answer=hide">{{$card.Question}}</a>
			</li>
		{{end}}
		</ul>
	</div>
</body>
</html>